*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #f8f9fa, #eef1f6);
    color: #333;
}
/* HEADER SECTION */
header{
    background-color: #0f0952;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
nav img{
    position: absolute;
    height: 80px;
    width: 8%;
    left: 5px;
}
nav ul{
    list-style: none;
    text-align: center;
    margin-left: 6%;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover, nav ul li a:target{
    color: #e5c708;
    border-radius: 5px;
}
/* PROFESSIONAL SECTION */
.main-content{
    display: flex;
    justify-content: space-between;
}
.description{
    width: 40%;
    padding-left: 40px;
}
.description-text{
    margin-top: 55%;
}
.description-text h1{
    color: #0f0952;
    font-size: 30px;
    text-align: center;
}
.description-text p{
    font-size: 18px;
    line-height: 2;
    text-align: center ;
    margin-top: 1%;
}
.Professional{
    background: #f4faff;
    border: 10px solid #0f0952;
    padding: 30px;
    max-width: 740px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    line-height: 1.6;
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 10%;
}
.resume-header{
    text-align: center;
    margin-bottom: 30px;
}
.resume-header h2{
    color: #0f0952;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}
.resume-header address{
    font-style: normal;
    line-height: 1.6;
}
.resume-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.resume-content strong{
    margin-top: 10px;
    display: block;
}
.resume-content ul{
    padding-left: 30px; 
}
.resume-content ul li{
    margin-right: 20%;
}
.resume-left, .resume-right{
    width: 50%;
}
.resume-left h3, .resume-right h3{
    color: #0f0952;
    font-size: 20px;
    margin-top: 15px;
    border-bottom: 2px solid #e5c708;
    padding-bottom: 5px;
}
/* STATEMENTS SECTION */
.mission-vision{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.mission-vision .mission, .mission-vision .vision{
    width: 45%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 30px auto;
}
.mission-vision h3{
    color: #0f0952;
    font-size: 22px;
    border-bottom: 2px solid #e5c708;
    margin-bottom: 15px;
    padding-bottom: 5px;
    display: inline-block;
}
.mission-vision p{
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}
/* CAREER GOALS SECTION */
.career-goals{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}
.career-goals iframe{
    max-width: 100%;
    width: 70%;
    height: 420px;
    margin-left: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}
.career-goals .career-goals-text{
    max-width: 45%;
    text-align: center;
    padding: 20px;
    margin-left: 2%;
    margin-top: 3%;
}
.career-goals .career-goals-text h3{
    color: #0f0952;
    font-size: 22px; 
    /* text-align: center; */
    margin-bottom: 15px; 
    border-bottom: 2px solid #e5c708;
    display: inline-block;
    padding-bottom: 5px;
}
.career-goals .career-goals-text ul{
    font-size: 16px;
    line-height: 2;
    margin-top: 10px;
    color: #333;
    list-style: none;
}
