*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #f8f9fa, #eef1f6);
    color: #333;
}
/* HEADER SECTION */
header{
    background-color: #0f0952;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
nav img{
    position: absolute;
    height: 80px;
    width: 8%;
    left: 5px;
}
nav ul{
    list-style: none;
    text-align: center;
    margin-left: 6%;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover, nav ul li a:target{
    color: #e5c708;
    border-radius: 5px;
}
/* REFERENCES SECTION */
.reference{
    padding: 20px;
    margin-left: 30%;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 2.5;
    width: 40%;
}
.reference h2{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #0f0952;
}
.reference p{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}
.reference ul{
    padding-left: 20px;
    margin-top: 10px;
}
.reference ul li{
    font-size: 16px;
    margin-bottom: 10px;
}
