*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #f8f9fa, #eef1f6);
    color: #333;
}
/* HEADER SECTION */
header{
    background-color: #0f0952;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
nav img{
    position: absolute;
    height: 80px;
    width: 8%;
    left: 5px;
}
nav ul{
    list-style: none;
    text-align: center;
    margin-left: 6%;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover, nav ul li a:target{
    color: #e5c708;
    border-radius: 5px;
}
/* PERSONAL DEVELOPMENT */
.personal-dev{
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0f0952;
}
.content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px;
}
.chapter{
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.chapter h3{
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 1%;
    color: #0a64c3;
    text-align: center;
}
.chapter h4{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5%;
    color: #0a64c3;
}
.chapter p{
    font-size: 16px;
    line-height: 1.8;
}
.degree{
    text-align: center;
}
.degree ul li{
    list-style: none;
}